{%extends 'parent.html'%}
{%block tit%}
trainees _ List
{%endblock%}
{%block header%}
trainees _ List
{%endblock%}
{%block content%}
    {{trainees}}
<h1>{{1 | add:2}}</h1>
    <table width="100%" border="1">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>Course</th>
            <th>ID_Course</th>
            <th>Actions</th>
        </tr>
        {%for trainee in trainees%}
            <tr>
                <td>{{trainee.id}}</td>
                <td>{{trainee.name}}</td>  
                <!-- data coming from FK is an object so name in object-->
                <!-- course_id the column of the relation between tables -->
                <!-- this is first method  -->
                <td>{{trainee.course_id.name}}</td>
                <!-- second method with magic method values not in object -->
                <td>{{trainee.course_id}}</td>
                <td>
                    <a href="{%url 'traineeDelete' trainee.id %}">Delete</a>
                    <a href="{%url 'traineeUpdate' trainee.id %}">update</a>
                </td>
            </tr>
        {%endfor%}
    </table>

{%endblock%}